#posts_wrapper {
	padding: 3em 0;
	.post {
		text-align: center;
		.date {
			font-size: .9em;
			margin: 0;
		}
		h2 {
			margin: 0;
			font-size: 2em;
			text-transform: uppercase;
			a {
				text-decoration: none;
				color: $primary;
				&:hover {
					color: $highlight;
				}
			}
		}
		hr {
			margin: 3em auto;
		}
	}
}

/* 
	--- Posts show 
*/

#post_show_content {
	header {
		text-align: center;
		.date {
			font-size: .9em;
			color: $secondary;
			margin: 0;
		}
		h1 {
			margin: 0;
		}
	}
	hr {
		margin: 2em auto;
	}
}

#share_box {
	text-align: center;
	p {
		padding: 0  0 1em 0;
		margin: 0;
		font-weight: 700;
		text-transform: uppercase;
		color: $primary;
		font-size: .8em;
	}
	i {
		color: $primary;
		padding: 1em 0.5em;
		&:hover {
			color: $highlight;
			cursor: pointer;
		}
	}
}

/* 
	--- Pagination Styling 
*/

.pagination:before, .pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: box;
}

.pagination {
	text-align: center;
	margin: 0 0 3em 0;
	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0 .4em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: $background;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		color: $primary;
		&:hover {
			background: $highlight;
			color: $background;
		}
	}
	.current {
		background: $highlight;
		color: $background;
	}
	.disabled {
		color: #c0c0c0;
		&:hover {
			color: #c0c0c0;
			background: $background;
		}
	}
}

