@import 'normalize';

/*$primary: #424652;
$secondary: #9a9da4;*/
$primary: #444444;
$secondary: #6e7488;
$highlight: #F16B6F;
$border: #e9e9e9;
$background: #F4F4F4;
$white: #ffffff;

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', serif;
	background-color: $background;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.skinny_wrapper {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

.wrapper_padding {
	padding: 4rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	color: $primary;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.375rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p, li {
	font-size: 1rem;
	line-height: 1.75;
}

p, ul, ol {
	margin: 0 0 1.6em 0;
}

hr {
	width: 3em;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $highlight;
	margin: 2rem 0;
}

#main_navigation {
	padding: 2.5em 5%;
	border-bottom: 1px solid $border;

	.name {
		font-weight: 700;
		font-size: .8em;
		letter-spacing: 2px;
		text-transform: uppercase;
		border: 2px solid $border;
		padding: 1rem;
		text-decoration: none;
		color: $primary;
		float: left;
	}
	nav {
		float: right;
		padding-top: 1.4rem;
		a {
			color: $secondary;
			text-decoration: none;
			margin: 0 1rem;
			font-size: 1rem;
		}
	}
}

#page_title {
	font-weight: 400;
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 2em 0;
	font-size: 1rem;
	text-transform: uppercase;
}

#main_footer {
	padding: 2.5em 5%;
	border-top: 1px solid $border;
	.copyright {
		float: left;
		font-size: .9em;
		margin: 0;
	}
	nav {
		float: right;
		i {
			color: $secondary;
			margin-left: 1em;
			padding-top: .2em;
			&:hover {
				color: $highlight;
			}
		}
	}
}

input[type="text"], input[type="email"], 
input[type="password"], textarea {
	width: 100%;
	max-width: 100%;
	height: 3em;
	border: 2px solid $border;
	padding: 1em;
	margin: .5em 0 2em 0;
}

textarea {
	min-height: 20em;
}

input[type="submit"] {
	outline: none;
	background: $white;
	border: 2px solid $border;
	text-align: center;
	font-size: 1em;
	color: $primary;
	text-decoration: none;
	padding: 1em 2em;
	&:hover {
		border: 2px solid $highlight;
		color: $highlight;
	}
}

@import 'welcome';
@import 'post_projects';
@import 'pygments';